services:
  nexus:
    image: sonatype/nexus3:3.87.1
    container_name: nexus
    restart: unless-stopped
    ports:
      - 38081:8081  # web ui
      - 20000:20000 # used in docker-proxy
      - 30000:30000 # used in docker-group
    volumes:
      - data:/nexus-data
    networks:
      - default-network

volumes:
  data:

networks:
  default-network:
