include:
  - ./middleware/postgresql/docker-compose.yml
  - ./middleware/mysql/docker-compose.yml
  - ./middleware/rabbitmq/docker-compose.yml
  - ./middleware/kafka/docker-compose.yml
  - ./middleware/elasticsearch/docker-compose.yml
  - ./middleware/redis/docker-compose.yml
  - ./middleware/mongo/docker-compose.yml

services:
  grafana-node-exporter:
    image: prom/node-exporter:v1.8.2
    container_name: grafana-node-exporter
    restart: unless-stopped
    networks:
      - default-network
    ports:
      - 9100:9100

  grafana-alertmanager:
    build:
      context: ./alertmanager
      dockerfile: Dockerfile
    image: alertmanager:v0.27.0
    container_name: grafana-alertmanager
    volumes:
      - alertmanager-data:/alertmanager
    networks:
      - default-network
    ports:
      - 9093:9093

  grafana-prometheus:
    build:
      context: ./prometheus
      dockerfile: Dockerfile
    image: prometheus:v3.1.0
    container_name: grafana-prometheus
    restart: unless-stopped
    volumes:
      - prometheus-data:/prometheus
    ports:
      - 9090:9090
    networks:
      - default-network

  grafana:
    image: grafana/grafana:11.4.0
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      GF_SECURITY_ADMIN_USER: grafana
      GF_SECURITY_ADMIN_PASSWORD: grafana
    networks:
      - default-network

volumes:
  prometheus-data:
  alertmanager-data:

networks:
  default-network:
