services:
  oracle-db-free:
    container_name: oracle-db-free
    image: container-registry.oracle.com/database/free:23.26.0.0
    restart: unless-stopped
    environment:
      ORACLE_PWD: example
    networks:
      - default-network
    ports:
      - 1521:1521
    volumes:
      - data:/opt/oracle/oradata

networks:
  default-network:

volumes:
  data:
