services:
  nacos-cluster-mysql:
    container_name: nacos-cluster-mysql
    build:
      context: ./mysql
      dockerfile: Dockerfile
    image: nacos-mysql/mysql:5.7.44
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nacos
      MYSQL_USER: nacos
      MYSQL_PASSWORD: nacos
    volumes:
      - data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - default-network

  nacos-cluster-01:
    hostname: nacos-cluster-01
    container_name: nacos-cluster-01
    image: nacos/nacos-server:v2.4.3
    restart: unless-stopped
    depends_on:
      nacos-cluster-mysql:
        condition: service_healthy
    volumes:
      - logs-01:/home/nacos/logs
    ports:
      - 7848:7848
      - 8848:8848
      - 9848:9848
      - 9849:9849
    environment:
      PREFER_HOST_MODE: hostname
      NACOS_SERVERS: nacos-cluster-01:8848 nacos-cluster-02:8848 nacos-cluster-03:8848
      SPRING_DATASOURCE_PLATFORM: mysql
      MYSQL_SERVICE_HOST: nacos-cluster-mysql
      MYSQL_SERVICE_DB_NAME: nacos
      MYSQL_SERVICE_PORT: 3306
      MYSQL_SERVICE_USER: nacos
      MYSQL_SERVICE_PASSWORD: nacos
      MYSQL_SERVICE_DB_PARAM: characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
      NACOS_AUTH_IDENTITY_KEY: indentity_key
      NACOS_AUTH_IDENTITY_VALUE: indentity_value
      NACOS_AUTH_TOKEN: SecretKey012345678901234567890123456789012345678901234567890123456789
      NACOS_AUTH_ENABLE: true
    networks:
      - default-network

  nacos-cluster-02:
    hostname: nacos-cluster-02
    image: nacos/nacos-server:v2.4.3
    container_name: nacos-cluster-02
    restart: unless-stopped
    depends_on:
      nacos-cluster-mysql:
        condition: service_healthy
    volumes:
      - logs-02:/home/nacos/logs
    ports:
      - 17848:7848
      - 18848:8848
      - 19848:9848
      - 19849:9849
    environment:
      PREFER_HOST_MODE: hostname
      NACOS_SERVERS: nacos-cluster-01:8848 nacos-cluster-02:8848 nacos-cluster-03:8848
      SPRING_DATASOURCE_PLATFORM: mysql
      MYSQL_SERVICE_HOST: nacos-cluster-mysql
      MYSQL_SERVICE_DB_NAME: nacos
      MYSQL_SERVICE_PORT: 3306
      MYSQL_SERVICE_USER: nacos
      MYSQL_SERVICE_PASSWORD: nacos
      MYSQL_SERVICE_DB_PARAM: characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
      NACOS_AUTH_IDENTITY_KEY: indentity_key
      NACOS_AUTH_IDENTITY_VALUE: indentity_value
      NACOS_AUTH_TOKEN: SecretKey012345678901234567890123456789012345678901234567890123456789
    networks:
      - default-network

  nacos-cluster-03:
    hostname: nacos-cluster-03
    image: nacos/nacos-server:v2.4.3
    container_name: nacos-cluster-03
    restart: unless-stopped
    depends_on:
      nacos-cluster-mysql:
        condition: service_healthy
    volumes:
      - logs-03:/home/nacos/logs
    ports:
      - 27848:7848
      - 28848:8848
      - 29848:9848
      - 29849:9849
    environment:
      PREFER_HOST_MODE: hostname
      NACOS_SERVERS: nacos-cluster-01:8848 nacos-cluster-02:8848 nacos-cluster-03:8848
      SPRING_DATASOURCE_PLATFORM: mysql
      MYSQL_SERVICE_HOST: nacos-cluster-mysql
      MYSQL_SERVICE_DB_NAME: nacos
      MYSQL_SERVICE_PORT: 3306
      MYSQL_SERVICE_USER: nacos
      MYSQL_SERVICE_PASSWORD: nacos
      MYSQL_SERVICE_DB_PARAM: characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
      NACOS_AUTH_IDENTITY_KEY: indentity_key
      NACOS_AUTH_IDENTITY_VALUE: indentity_value
      NACOS_AUTH_TOKEN: SecretKey012345678901234567890123456789012345678901234567890123456789
    networks:
      - default-network

volumes:
  data:
  logs-01:
  logs-02:
  logs-03:

networks:
  default-network:
