services:
  kafka-zk-01:
    image: confluentinc/cp-zookeeper:7.8.0
    hostname: kafka-zk-01
    container_name: kafka-zk-01
    restart: unless-stopped
    networks:
      - default-network
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SERVERS: kafka-zk-01:2888:3888;kafka-zk-02:2888:3888;kafka-zk-03:2888:3888

  kafka-zk-02:
    image: confluentinc/cp-zookeeper:7.8.0
    hostname: kafka-zk-02
    container_name: kafka-zk-02
    restart: unless-stopped
    networks:
      - default-network
    ports:
      - 2182:2182
    environment:
      ZOOKEEPER_CLIENT_PORT: 2182
      ZOOKEEPER_SERVER_ID: 2
      ZOOKEEPER_SERVERS: kafka-zk-01:2888:3888;kafka-zk-02:2888:3888;kafka-zk-03:2888:3888

  kafka-zk-03:
    image: confluentinc/cp-zookeeper:7.8.0
    hostname: kafka-zk-03
    container_name: kafka-zk-03
    restart: unless-stopped
    networks:
      - default-network
    ports:
      - 2183:2183
    environment:
      ZOOKEEPER_CLIENT_PORT: 2183
      ZOOKEEPER_SERVER_ID: 3
      ZOOKEEPER_SERVERS: kafka-zk-01:2888:3888;kafka-zk-02:2888:3888;kafka-zk-03:2888:3888

  kafka-broker-01:
    image: confluentinc/cp-kafka:7.8.0
    hostname: kafka-broker-01
    container_name: kafka-broker-01
    restart: unless-stopped
    networks:
      - default-network
    ports:
      - 9091:9091
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-01:9091
      KAFKA_ZOOKEEPER_CONNECT: kafka-zk-01:2181,kafka-zk-02:2182,kafka-zk-03:2183
      KAFKA_LOG4J_LOGGERS: kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO
      KAFKA_AUTHORIZER_CLASS_NAME: kafka.security.authorizer.AclAuthorizer
      KAFKA_ALLOW_EVERYONE_IF_NO_ACL_FOUND: true
    depends_on:
      - kafka-zk-01
      - kafka-zk-02
      - kafka-zk-03
    healthcheck:
      test: ["CMD", "nc", "-vz", "localhost", "9091"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s   

  kafka-broker-02:
    image: confluentinc/cp-kafka:7.8.0
    hostname: kafka-broker-02
    container_name: kafka-broker-02
    restart: unless-stopped
    networks:
      - default-network
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-02:9092
      KAFKA_ZOOKEEPER_CONNECT: kafka-zk-01:2181,kafka-zk-02:2182,kafka-zk-03:2183
      KAFKA_LOG4J_LOGGERS: kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO
      KAFKA_AUTHORIZER_CLASS_NAME: kafka.security.authorizer.AclAuthorizer
      KAFKA_ALLOW_EVERYONE_IF_NO_ACL_FOUND: true
    depends_on:
      - kafka-zk-01
      - kafka-zk-02
      - kafka-zk-03
    healthcheck:
      test: ["CMD", "nc", "-vz", "localhost", "9092"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s    

  kafka-broker-03:
    image: confluentinc/cp-kafka:7.8.0
    hostname: kafka-broker-03
    container_name: kafka-broker-03
    restart: unless-stopped
    networks:
      - default-network
    ports:
      - 9093:9093
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-03:9093
      KAFKA_ZOOKEEPER_CONNECT: kafka-zk-01:2181,kafka-zk-02:2182,kafka-zk-03:2183
      KAFKA_LOG4J_LOGGERS: kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO
      KAFKA_AUTHORIZER_CLASS_NAME: kafka.security.authorizer.AclAuthorizer
      KAFKA_ALLOW_EVERYONE_IF_NO_ACL_FOUND: true
    depends_on:
      - kafka-zk-01
      - kafka-zk-02
      - kafka-zk-03
    healthcheck:
      test: ["CMD", "nc", "-vz", "localhost", "9093"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  kafbat-ui:
    image: ghcr.io/kafbat/kafka-ui:latest
    restart: unless-stopped
    container_name: kafbat-ui
    depends_on:
      kafka-broker-01:
        condition: service_healthy
      kafka-broker-02:
        condition: service_healthy
      kafka-broker-03:
        condition: service_healthy
    networks:
      - default-network
    ports:
      - 8080:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: true
      KAFKA_CLUSTERS_0_NAME: kafka-zk-docker
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-broker-01:9091,kafka-broker-02:9092,kafka-broker-03:9093

networks:
  default-network:
