services:
  redis:
    image: redis:7.4.1
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - data:/data
    networks:
      - default-network

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    restart: unless-stopped
    ports:
      - 5540:5540
    networks:
      - default-network

volumes:
  data:

networks:
  default-network: